* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 13px;
}

#nomeEmpresa {
    font-size: 65pt;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

#missao {
    border:  #8b0211 2px solid; 
    padding: 10px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b2b0b4;
    height: 650px;
    float: left;
    width: 10%;
    display: block;
}

#menu ca {
    display: block;
    height: 70px;
    border: rgb(228, 225, 225) solid 1px;
    width: 100%;
    border-collapse: collapse;
    text-decoration: none;
    text-align: center;
}

section#principal {
    border:rgba(0, 0, 0, .1) 1px solid;
    border-radius: 5%;
    width: 50%;
    height: 650px;
    display: block;
    margin: auto;
    padding: 10px;
}

#cadastro input, label {

    display: inline-block;
  
}


legend {
    text-align: center;
    font-size: 15pt;
    margin-top: 0px;
}

#notaFiscal input, label {

    display: inline-block;

}
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

#menu a.active {
    background-color: #3c075f;
    color: white;
    width: 100%;
}

#menu a:hover:not(.active) {
    background-color: rgb(77, 50, 50,50);
    color: rgb(206, 200, 221);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.campo{
    display: flex;
    justify-content: center;
    margin: 5px 0;
}


.btn{
    border: none;
    background-color: #74032e;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    box-shadow: 2px 3px 5px rgb(10 74 67 / 42%);
    margin-left: 35%;
    margin-top: 10pt;
    
}

.barrabotoes{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.index{
width: 100vw;
height: 100vh;
background-color: #bebebe3a;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
font-style: oblique;
color: lightseagreen;

}


#login {
width: 100vw;
height: 100vh;
background-color: #bebebe3a;
display: block;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
font-style: oblique;
color: rgb(81, 21, 83);
border: none;

}

  .btn-outline-danger {
    color: #ff0000;
    background-color: transparent;

    border-color: #f1eeef;
    font: bold;
  }
  
.btn-outline-danger:hover {
    color: #fff;
    background-color: #8b0210;
    border-color: #f7f7f7;
  }

  .legend {
      color: brown;

  }

  #adicionaPrudutoVenda {

    display: inline-block;
    border: black dotted 1px;
    width: 70px;
    height: 70px;
    margin-left: 20px;
    padding: 10px;
    background-image: url(/img/serch.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
}

#pagamentoTipo {

    float: right; 
    padding: 10px; 
    width: 16%;
    position: relative;
    height: 60px;
    margin-top: -6%;
    font-size: 13pt;

}

#vendedorSelecionado {

    float: right; 
    height: 80px;
    width: 30%;
    margin-left: 10px;
    padding: 10PX;
    margin-top: -1%;
}

#vendedorSelecionado input{

    display: inline-block;
    float: right;
}


#pagamentoTipo select {

    display: inline-block;
    float: right;
}


#dadosClienteVenda {
    float:  right; 
    width: 30%;
    height: 200px;
    margin-right: 3px;
    border-bottom: rgba(0, 0, 0, .2) 3px solid;
    border-radius: 3%;
    padding: 10px;
 
}

#dadosClienteVenda input{

    display: inline-block;
}

#adicionaClienteVenda{

    border: dotted 1px red;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -5%;
}

#itensAdicionados {

    border:rgba(0, 0, 0, .2) 2px solid;
    margin-left: 3px;
    border-radius: 2%;
    float: left;
    width: 69%;
    height: 620px;
    display: block;
}

#removeProdutoVenda {

    display: inline-block;
    background-color: red;
    Border: solid red 1px; 
    width: 20px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 10pt; 
    font-weight: bolder;
    border-radius: 3px;
}

#saidaValorVenda {

    float: right; 
    border-radius: 5%;
    width: 30%;
    margin-right: 3px;
    height: 240px;
    padding: 10px;
    margin-top: 20px;
    border-bottom: rgba(0, 0, 0, .2) 3px solid;
    border-radius: 3%; 
}

#saidaValorVenda input {

    display: inline-block;
    float: right;
}

#fecharVenda{

        text-transform: capitalize;
        font-size: 18pt ;
        width: 33%;
        border:rgba(0, 0, 0, .2) 2px solid;
        border-radius: 3%;
        height: 630px;  
        float: right;
        margin-right: 10px;
        padding: 10px;
}

    #fecharVenda input{


    }

    #fecharVenda label{

        text-transform: uppercase;
        font-size: 18pt ;
        margin-top: 10px;
        font-weight: bolder;
        text-align: right;
    }

    #listaVendas{

        border:rgba(0, 0, 0, .2) 2px solid;
        border-radius: 3%;
        height: 630px;  
        width: 65%;
        float: left;
        margin-left: 5px;
    }

    #principalCaixa {
    
    }

    #acaoEditar {
        border: solid green 1px;
        border-radius: 5px;
        background-color: green;
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 7px;
        margin-left: 5px;
    }

    #acaoExcluir {
        border: solid red 1px;
        border-radius: 5px;
        background-color: red;
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 7px;
        margin-top: 2px;
        margin-left: 5px;
    }

    #acaoSelecionar {

        border: solid royalblue 1px;
        border-radius: 5px;
        background-color: royalblue;
        color: white;
        text-decoration: none;
        font-size: 12px;
        padding: 7px;
        margin-top: 2px;
        margin-left: 5px;
    }

    .scroll {
        overflow-x: auto;
        overflow-y: auto;
    }
