* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 13px;   
}

#nomeEmpresa {

    font-size: 65pt;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

#missao {

    border: #8b0210 2px solid; 
    padding: 10px;
}

section#principal {

    width: 50%;
    height: 650px;
    display: block;
    margin: auto;
    padding: 15px;
}

#cadastro input, label {

    display: inline-block;
    font-size: 13pt;
  
}

option, select{

    font-size: 12pt;
    width: auto;
    text-align: left;
}

legend {

    text-align: center;
    font-size: 15pt;
    margin-top: 0px;
}

input{

    font-size: 13pt;
}

.feather {

    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#menu a.active {

    background-color: #3c075f;
    color: white;
    width: 100%;
}

#menu a:hover:not(.active) {

    background-color: rgb(77, 50, 50,50);
    color: rgb(206, 200, 221);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.campo{

    display: flex;
    justify-content: center;
    margin: 5px 0;
}


.btn{

    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    box-shadow: 2px 3px 5px rgb(10 74 67 / 42%);   
}

.barrabotoes{

    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.index{

    width: 100vw;
    height: 100vh;
    background-color: #bebebe3a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: oblique;
    color: lightseagreen;
}


#login {

    width: 100vw;
    height: 100vh;
    background-color: #bebebe3a;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: oblique;
    color: rgb(81, 21, 83);
    border: none;

}

.btn-outline-danger {

    color: #fff;
    background-color: #B22222;
    border: #8b0210 solid 1px;

}
  
.btn-outline-danger:hover , #receber{

    color: #fff;
    border: #fff solid 1px;
    background-color: #191970;
    position: relative ;
}

.legend {

      color: brown;
}

#adicionaPrudutoVenda {

    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url(/img/search2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    margin-top: 1%;
}

#limpaDadosFecharCaixa {

    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url(/img/limpar.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    margin-top: 10%;

}

#adicionaPrudutoVenda:hover {

    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

div#selecionarFornecedor{
    
    font-size: 12px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    float: left; 
    background-image: url(/img/search2.png);
    margin-left: 50%;
    margin-top: -6%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#selecionarFornecedor:hover{

    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


#divDataHoraVenda{

    float: right;
    margin-right: 80px;
}

#divDataHoraVenda label{ 

    font-size: 20px;
}


#vendedorSelecionado {

    float: right; 
    height: 130px;
    width: 90%;
    margin-left: 10px;
    padding: 10px;    
}

#vendedorSelecionado input{

    display: inline-block;
    float: right;
}

#adicionaVendedorVenda{

    float: right;
    margin-top: -25%;
    margin-right: 10px;
}

#dadosClienteVenda input{

    display: inline-block;
    font-size: 13pt;
    
}

#adicionaClienteVenda{

    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(/img/search2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-left: 24%;
    margin-top: -8%;
    position: absolute;
}

#adicionaClienteVenda :hover{
    
    width: 50px;
    height: 50px;
}

#divDabosVenda label {

    font-weight: bold;
    font-size: 13pt;
    color: black;

}

#itensAdicionados {

    border: #8b0210 solid 1px; 
    margin-left: 3px;
    float: left;
    width: 67%;
    height: 660px;
    display: block;
}

#removeProdutoVenda {

    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: solid 1px red;
    background-color: salmon;
    font-size: solid 1px 10pt; 
    font-weight: bolder;
    border-radius: 3px;
}

#removeProdutoVenda:hover{

    border:  darkred;
    background-color: #ff0000;
}


#saidaValorVenda input {

    display: inline-block;
    float: right;
}

#fecharVendaCaixa{

        text-transform: capitalize;
        font-size: 18pt ;
        width: 29%;
        border: rgba(168, 57, 68) solid 1px; 
        height: 660px;  
        float: right;
        margin-right: 1%;
        padding: 10px;
        border-radius: 5%;  
}

#fecharVendaCaixa label{

    text-transform: uppercase;
    font-size: 13pt ;
    font-weight: bolder;
    float: right;
    margin-right: 5%;
}

#fecharVendaCaixa input{

    font-size: 30pt;
    height: auto;
    text-align: right;
    float: right;
    margin-right: 5%;
    background-color: #8b0210;
    color: yellow;
    font-weight: bold;
    box-shadow: 5px 5px 0px #333;
    -webkit-box-shadow: -25px 20px 20px rgb(92, 92, 70);
    -moz-box-shadow: 5px 5px 0px #333;
}

#divDetalharVenda {

    border: rgba(168, 57, 68) solid 1px;
    background-color: #8b0210;
    width: 68%;
    height: 660px;
    margin-left: 1%;
    float: left;
    border-radius: 5%;
        
}
 
#descricaoVendaCaixa {
        
    background-color: #8b0210;
       
    width: 100%;
    height: 42em;
    padding: 1%;
}
    
#descricaoVendaCaixa p {

    color: white;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#listaVendas{

    border: #8b0210 solid 1px; 
    height: 650px;  
    width: 98%;
    float: left;
    margin-left: 1%;
}

.acaoVerde {

    border: solid green 1px;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px;
    margin-left: 5px;
}

.acaoVerde:hover {

    background-color: darkgreen;
    text-decoration: none;
    color: white;
    text-transform: none;
}

.acaoVermelho {

    border: solid darkred 1px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px;
    margin-top: 2px;
    margin-left: 5px;
}

.acaoVermelho:hover{

    background-color: darkred;
    text-decoration: none;
    color: white;
    text-transform: none;

}

#acaoSelecionar {

    border: solid darkblue 1px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 7px;
    margin-top: 2px;
    margin-left: 5px;
}

#acaoSelecionar:hover {

    background-color: darkblue;
}

.scroll {

    max-width: 100%;
    overflow: auto;
}

#divSair {

    width: 2%;
    font-size: 12pt;
    float: right; 
    margin-right: 1%;
    margin-left: 80%;
    margin-top: -3%;
}

#divSair a{

    color: white;
    font-weight: bolder;
    padding: 3px;
}

#divSair a:hover{

    border: solid 1px white;
    text-decoration: none;
    border-radius: 20%;
}

#saidaRelatorio {

    width: 95%;
    height: 610px;
    border: none;
    margin-left: 2%;
}

#tableRelatorioVendasEstoque {

    margin-top: -3%;
}

#receber:hover {

    color: #fff;
    border: #fff solid 1px;
    background-color: #191970;

}

#receber {

color: #fff;
    background-color: #B22222;
    border: #8b0210 solid 1px;
}