* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

#nomeEmpresa {
    font-size: 65pt;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

#missao {
    padding: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#contatos {
    text-align: center;
    font-size: 35pt;
    border: 1px solid yellowgreen;
    margin-top: 80px;
}

form#cadastro {
    margin-top: 1px;
    padding: 5px;
    border: red solid 1px;
    height: 98%;
    width: 35%;
    float: left;
}


#menu {
    text-align: center;
    display: block;
    width: 10%;
    float: left;
    height: 698%;
    border: blueviolet solid 1px;
}

#menu p {
    display: block;
    height: 40px;
    border: red solid 1px;
    width: 100%;
    border-collapse: collapse;
    text-decoration: none;
    text-align: center;
}

#menu p a {
    margin-top: 10px;
    padding-top: 10px;
    display: block;
    color:black;
    text-decoration: none;

}

section#principal {
    border: palevioletred 1px solid;
    width: 89%;
    height: 650px;
    float: right;
}

aside {
    border: rgba(0, 0, 0, .1) solid 1px;
    width: 60%;
    margin-right: 5px;
    float: right;
    margin-top: 1px;
    height: 98%;
    padding: 5px;
}

form input#btnCadastrar {
    margin-top: 20px;
    cursor: pointer;
    line-height: 15px;
    width: 30%;
    margin-left: 35%;
    height: 25px;
}

#clienteVenda {
    display: block;
    border: rgba(0, 0, 0, .2) solid 2px;
    height: 90%;
    width: 30%;
    float: right;
    padding: 5px;
    margin-top: -8%;
    margin-right: 1%;
}

#saidaDados {
    width: 99%;
    border: royalblue 1px solid;
    display: block;
    float: left;
    margin-top: 120%;
}

#vendaCliente  input, label{
    display: inline-block;
}

legend {
    text-align: center;
    font-size: 15pt;
    margin-top: 0px;
    padding: 5px;
}

#fecharVenda {
    width: 20%;
    height: 500px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: rgba(0, 0, 0, .2) solid 2px;
}

#fecharVenda h4 {
    font-size: 15pt;
}

#fecharVenda output {
    border: rgba(0, 0, 0, .1) solid 2px;
    display: block;
    height: 40px;
    width: 50%;
    font-size: 20px;
    margin-bottom: 30px;
}

#fecharVenda input {
    height: 40px;
    width: 50%;
    font-size: 20px;
    margin-bottom: 30px;
}

#fecharVenda p {
    margin-bottom: 10px;
}


#formEndereco {
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 10pt;
    padding: 3px;
}

    form#consultas {
        width: 100%;
        border: seagreen 1px solid;
    }